#duckdb
numpy
pandas
fastapi
uvicorn
#langchain
langchain-ollama

# Versions alignées pour llama-index
llama-index[ollama]==0.11.22
llama-index-core==0.11.22
llama-index-llms-ollama==0.3.2
llama-index-embeddings-huggingface

pydantic
schemas
openpyxl
xlrd
typing-extensions
pdfminer.six
PyMuPDF
pytesseract
Pillow
watchdog

# Classifieur
python-multipart
python-socketio
grpcio
passlib
passlib[bcrypt]
PyJWT[crypto]
requests
aiohttp
httpx

# (À garder seulement si vous en avez réellement besoin,
#  sinon vous pouvez les supprimer)
openai
anthropic
google-generativeai

# Database
pymongo
peewee
SQLAlchemy
boto3
redis
sqlmodel
chromadb
psycopg2-binary

# Observability
langfuse
ddtrace

# ML libraries
torch
xgboost
scikit-learn

# NLP libraries
sentence-transformers
transformers
tokenizers
nltk
tiktoken

# Visualization
matplotlib
seaborn

# Web scraping
selenium
playwright
beautifulsoup4

# Diverses libs
accelerate
aiofiles
aiohappyeyeballs
aiosignal
annotated-types
anyio
appnope
asttokens
attrs
av
Byaldi
catalogue
certifi
charset-normalizer
click
colpali_engine
comm
contourpy
cycler
datasets
debugpy
decorator
dill
einops
eval_type_backport
executing
ffmpy
filelock
fonttools
frozenlist
fsspec
GPUtil
gradio
gradio_client
h11
httpcore
huggingface-hub
idna
importlib_resources
ipykernel
ipython
jedi
Jinja2
joblib
jsonlines
jupyter_client
jupyter_core
kiwisolver
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mpmath
mteb
multidict
multiprocess
nest-asyncio
networkx
ninja
orjson
packaging
parso
pdf2image
peft
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
py-cpuinfo
pyarrow
pydantic_core
pydub
Pygments
pyparsing
python-dateutil
pytrec-eval-terrier
pytz
PyYAML
pyzmq
qwen-vl-utils
regex
rich
ruff
safetensors
scipy
semantic-version
shellingham
six
sniffio
srsly
stack-data
starlette
sympy
threadpoolctl
tomlkit
torchvision
tornado
tqdm
traitlets
typer
tzdata
ultralytics
ultralytics-thop
urllib3
wcwidth
websockets
xxhash
yarl
opencv-python-headless
